<!DOCTYPE html>
<html>
<head><title>My Profile</title></head>
<body>
  <h1>Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h1>
  <p><strong>Specialization:</strong> {{ doctor.specialization }}</p>
  <p><strong>Department:</strong>     {{ doctor.department }}</p>
  <p><strong>Contact:</strong>        {{ doctor.contact_number }}</p>
  <p><strong>Email:</strong>          {{ doctor.email }}</p>
  <p><a href="{% url 'doctor_app:doctor_daily_schedule' %}">My Schedule</a></p>
  <p><a href="{% url 'doctor_app:doctor_patient_list' %}">My Patients</a></p>
  <p><a href="{% url 'doctor_app:order_lab_test' %}">Order Lab Test</a></p>
   <!-- Logout link - should be a form with POST method for security -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
  <p><a href="{% url 'doctor_app:edit_profile' %}">Edit My Profile</a></p>


</body>
</html>
